.search-bar-container .input-wrapper {
    background-color: white;
    border-radius: 100px;
    height: 3rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    width: 1000px;
}

.search-bar-container input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
}

.search-bar-container input:focus{
    outline: none;
}

.search-bar-container #search-icon {
    color:royalblue;
}

.search-bar-wrapper{
    position: absolute;
    top: 55%;
    min-width: 250px;
    max-width: 300px;
}

.search-bar-wrapper .results-list {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 900;
    user-select:none;
}

.search-bar-wrapper .search-result{
    position: relative;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-bar-wrapper .search-result:hover{
    background-color: #efefef;
}

.options-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    /* width: 100%; */
    width: 1000px;
}