*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    background: url('https://source.unsplash.com/a-view-of-a-mountain-range-at-sunset-r9Vd1u6Q_8c');
    background-repeat: no-repeat;
    background-color: seagreen;
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center center;
}

.btn {
    width: 300px;
    height: 100px;
    padding: 5px;
    background: none;
    position: relative;
    border: none;
}

svg {
    fill: none;
    stroke: 2px;
    stroke-width: 6px;
    position: absolute;
    inset: 0;
    transition: all 800ms ease;
}

a {
    position: absolute;
    inset: 25% 20%;
    text-decoration: none;
    font-family: calibri;
    font-size: 1em;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff;
    user-select: none;
    background: -webkit-linear-gradient(40deg, #0ebac5, #3F5EFB);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:hover svg {
    stroke-dasharray: 130 350;
    stroke-dashoffset: 500;
}