.logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7.5rem auto 3rem;
}

.logo-container .logo {
    width: 40rem;
    font-family: 'Bookman Old Style';
    font-size: 10rem;
    color:#0011acad;
    margin: 5rem auto 0rem;
    user-select:none;
}

.upper-detail-wrapper{

}

.lower-detail-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.time-table-wrapper{
    margin: 0 0 0 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}