.homepage{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 60px);
    flex-direction: column;
}

.detail-wrapper{
    display: flex;
    position: relative;
    top: 6rem;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto auto;
    height: 100%;
    width: fit-content;
}

.search-wrapper{
    display: flex;
    position: relative;
    margin-left: 10px; 
    flex-direction: column;
    height: fit-content;
    /* margin-bottom: 100px; */
}

.time-table-body{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;

}

.time-table-tab{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 640px;
    margin-bottom: 10px;
}

.time-table-tab-option{
    width: 50%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    background: #ffffff;
    user-select: none;
    font-size: 20px;
    border: 2px solid rgb(149, 217, 240);
    transition: background 0.4s;
}

.time-table-tab-option.active {
    background: rgb(149, 217, 240);
}

.time-table-tab-option.disabled {
    border: none;
    border-bottom: 2px solid gray;
    color: gray;
    cursor: not-allowed;
    background: rgb(255, 255, 255);
}

.time-table-wrapper{
    display:flex;
    position:relative;
    flex-direction: column;
    width: fit-content;
}

.placeholder{
    display: flex;
    position: relative;
    width: 300px;
    margin-left: 10px;
}

.exam-wrapper{
    display: flex;
    position: relative;
    width: 300px;
    min-width: 300px;
    height: fit-content;
    margin: 10px 0;
    background-color: white;
    flex-direction: column;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 1px 0 #b8b0b0;
    border-radius: 10px;
    transition: transform 1s ease;
}

.exam-wrapper.hidden{
	transform: translateY(0);
}