.checkbox.option{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.checkbox.option :is(input, label){
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
}