.upload-content {    
    display: grid;
    justify-content: center; /* Horizontal center alignment */
    align-items: center; /* Vertical center alignment */
    margin: 5rem auto;
}

.upload-content .upload-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-content .upload-description{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    width: wrap;
}

.tab-container a{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-size: 1.3rem;
    font-weight: 600;
    color: #0000007a;
    transition: 0.3s ease-in-out;
    width: 200px;
    margin: 10px 100px;
}

.tab-container a p{
    display:relative;
    align-items:center;
    justify-content:center;
    text-align: center;
    width: wrap;
    position: relative;
}

.tab-container a p:hover,
.tab-container a p.active {
    color: #000000;
}

.tab-container a p:hover::after,
.tab-container a p.active::after {
    content: "";
    width: 30%;
    height: 3px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 0px;
} 

.section {
    display: flex; /* Use flexbox for centering and stacking */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Horizontal center alignment */
    align-items: center; /* Vertical center alignment */
    margin-bottom: 100px;
}

.section .section-container{
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    height: 450px;
}

.section .section-container .upload-rules{
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background: rgba(220, 224, 241, 0.521);
    text-align: center;
}

.section .section-container .upload-container {
    display: flex; /* Use flexbox for children */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
}