.walk-through-scroll-btn {
    color: rgb(39, 16, 255);
    cursor: pointer;
}

.walk-through-scroll-btn:hover::after {
    content: '';
    position: absolute;
    bottom: 3px;
    right: 95px;
    width: 160px;
    height: 2px;
    background-color: rgb(39, 16, 255);
}   

.introduction-helper {
    text-align: center; 

    .introduction-title{
        padding: 10px 0;
        text-decoration: underline;
        font-weight: bold;
    }
    .introduction-body{
        padding: 0 20px;
        width: 400px;
    }
    .introduction-action{
        display: flex;
        padding: 20px;
        justify-content: space-around;
    }
}

.highlight-helper {
    position:absolute;
    z-index: 1060;
    opacity: 1;
    border: 1px solid black;
    text-align: center; 
    border-radius: 5px;
    padding: 2px;
    color:rgb(255, 255, 255);
}

.highlight-helper.primary{
    background-color: rgb(4,172,116);
}

.highlight-helper.secondary{
    background-color: rgb(4,172,116);
}